.dccache

# Environment variables
.env
.env.local
.env.*.local

# Github
.github/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
data/
mariadb-init/

# Node (if using Selenium)
node_modules/